

div {
    opacity:0.9;
}
//#ground > div { opacity:0.2 }
#ground > div > div { opacity: 1; z-index:30; }
#flood:before {
    background: url(greencush.jpg);
    background-size: 100%;
    
    content: '';
    position: absolute;
   
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity:0.5;
}
#Codo:before bollocks {
    background-image: url(blue-velvet-sofa.jpg);
    background-size: 100% 300%;
    
    content: '';
    position: absolute;
   
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity:0.5;
}
div div {
    opacity:0.95;
}
div div div {
    opacity: 1;
}
.divlabel {
    z-index: -5;
}
.floated {
    position: fixed !important;
    top: 40%;
    right: 58%;
    padding: 3px;
}
#body {
    background: rgba(178,140,192,0.8);
    background-image:url('IMG_3524.JPG');
    font-family: monospace;
    background-size: 1200px;
}
.splat-d {
    font-size: 12pt;
    color: #33CCFF;
}
.inface {
    position:fixed;
    z-index:100;
    top: 15em;
    right 5em;
}
.hidata:hover {
    color: white;
}
.NE {
    position: fixed;
    right: 0px;
    top: 0px;
}
span.en:hover{
    background-color: #fc6;
}
.data {
    position: absolute;
    white-space: pre;
}
.hear {
    font-family: serif;
    font-weight: 666;
    font-size: 22pt;
    color: white;
    opacity: 1;
}
.dead {
    background: #0d0e4d !important;
    opacity: 0.666;
}
.widdle {
    height: 1em !important;
    overflow: hidden !important;
}
.widdle * {
    display: none;
}
#mess.widdle {
    height: 100% !important;
    width: 1em !important;
}
.widel {
    width: 50em !important;
}
.vvvv {
    position: relative;
    float: left;
}
.abspan > span {
    position: absolute;
}
.view {
    position: relative;
    float: left;
}
.view > span {
    position: absolute;
}
span.menu {
    position: relative !important;
    float: left;
}

.lyrics {
    position: absolute;
}
.on {
    color: white;
    background: #777;
}
.onn {
    color: black !important;
    text-shadow:2px 10px 7px #FF33CC !important;
}
div.CodeMirror-lines span {
    #font-family: u0400;
}
#Keys {
    font-size: 30pt;
}
.err { color: red; }

::-webkit-scrollbar {
    width: 20px;
}
#sky::-webkit-scrollbar {
    width: 40px;
}
#sky::-webkit-scrollbar-thumb {
    background: url(copper_anodes.jpg);
}
#Codo::-webkit-scrollbar {
    width: 40px;
}
#Codo::-webkit-scrollbar-thumb {
    background: url(copper_anodes.jpg);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 29px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: url(greencush.jpg);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(33,0,55,0.1); 
} 

