div {
    opacity:0.6;
}
div div {
    opacity:0.8;
}
div div div {
    opacity: 0.9;
}
.divlabel {
    z-index: 6;
}
#body {
    background: #3D6629;
    font-family: monospace;
}
.data {
    position: absolute;
    white-space: pre;
}
.dead {
    background: #0d0e4d !important;
}
.view {
    position: relative;
    float: left;
}
.view span {
    position: absolute;
}
.menu {
    padding: 5px;
    font-size: 20pt;
    text-shadow: 4px 4px 4px #000;
    margin-bottom: 1em;
}
.view .menu {
    font-size: 8pt;
}
.lyrics {
    position: absolute;
}
.codocode {
    white-space:pre;
}
.on {
    color: white;
    background: #777;
}
#Keys {
    font-size: 30pt;
}
.err { color: red; }

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
} 
