div {
    opacity:0.4;
}
#body {
    background: #ab6;
    font-family: monospace;
}
.data {
    position: absolute;
    white-space: pre;
}
.dead {
    background: black;
}
.view {
    position: relative;
    float: left;
}
.view span {
    position: absolute;
}
.menu {
    padding: 5px;
    font-size: 20pt;
    text-shadow: 1px 1px 1px #000;
}
.view .menu {
    font-size: 8pt;
}
.lyrics {
    position: absolute;
}
.codocode {
    white-space:pre;
}
.on {
    color: white;
    background: #777;
}
#Keys {
    font-size: 30pt;
}
